<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti's Burger</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/cardapio.css">
</head>

<body>
<div class="mycontainer">
    <img src="/assets/fundo.jpg" alt="fundo" class="fundo">
    <div class="cardi">
        <div class="row my-2 mx-3 justify-content-between align-items-center">
            <div class="col text-center">
                <img src="assets/logo.svg" alt="logo" class="logo">
            </div>
        </div>
        <div class="row">
            <div class="col mx-3">
                <p>Aberto até as 23:00h</p>
            </div>
            <div class="col mx-3">
                <p>Pedido min. R$23,00</p>
            </div>
        </div>
        <div class="mx-4">
            <hr class="border border-danger border-1 opacity-50">
        </div>
        <div class="cardBody">
            <div class="cardapio">
                <div class="cardapioItens ">
                    <div class="item ingrediente ">
                        <% prod.forEach((produto, index)=> { %>
                            <div class="row align-items-center justify-content-between">
                                <div class="col-3 p-2 text-center">
                                    <img src="<%= produto.src %>" alt="">
                                </div>
                                <div class="col-3 p-2 text-center">
                                    <div class="row">
                                        <h3 class="">
                                            <%= produto.name %>
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <i class="bi bi-info-circle-fill inf" data-target="dialog-<%= index %>"></i>
                                    </div>
                                </div>
                                <div class="col-3 text-center">
                                    <strong>R$<%= produto.price %></strong>
                                </div>
                                <div class="col-3 text-center">
                                    <button class="btn text-white btnPlus">
                                        <i class="bi bi-cart3"></i> +
                                    </button>
                                </div>
                            </div>

                            <dialog id="dialog-<%= index %>">
                                <strong>Ingredientes:</strong>
                                <p>
                                    <%= produto.ingredients %>
                                </p>
                                <button class="btn btn-danger mt-3 text-center close">ok</button>
                            </dialog>
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const infoButtons = document.querySelectorAll('.inf');
            infoButtons.forEach(button => {
                const dialogId = button.getAttribute('data-target');
                const dialog = document.getElementById(dialogId);
                button.addEventListener('click', () => dialog.showModal());
            });

            document.querySelectorAll('.close').forEach(button => {
                button.addEventListener('click', () => {
                    button.closest('dialog').close();
                });
            });
        });
    </script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>